/*------------------------- Tag styles-----------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cbf1f5;
}

li {
  float: Left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 2px 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #a6e3e9;
}

p {
  margin: 0
}

div {
  display: block;
}

/*---------------------class-----------------------------*/
.active {
  background-color: #71c9ce;
}

.construction{/*-- delet .construction css once site is ready--*/
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 15%;

}
.container {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.container_top {
  background-color: #a6dcef;
  width: 100%;
  float: left;
  z-index: 9;
  position: relative;
}

.disclaimer {
  width: 100%;
  margin: 0
}

.dosha_table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.footer_bottom {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #a6dcef;
  bottom: 0;
}

.fix_top {
  position: relative
    /*--!important--*/
  ;
  left: 0;
  top: 0;
  bottom: auto;
  width: 100%;
  z-index: 999;
}

.logo_top {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 15%;
}

.main {
  /* Used in this example to enable scrolling */
  margin-top: 150px;
  height: 1500px;
}

.navbar_top {
  position: absolute;
  right: 0;
  height: 10px;
}

.navbar {
  position: absolute;
  right: 0;
  bottom: 0;
}


.table_header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
  text-align: center;
}

.top_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999
}

.tradmark {
  padding: 5px 0;
  color: #fff;
}

/*----------------------------ID styles---------------------*/
