/*-------------- Tag Style--------------------*/
body {
  margin: 0;
  background-color: #e3fdfd;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 80%;
}



li {
  float: Left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 2px 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #a6e3e9;
}

p {
  margin: 0
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cbf1f5;
}

h1 {
  margin: 0;
}

/* -------------------- Class Style---------------*/
.active {
  background-color: #71c9ce;
}

.background {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 10%;
  height: 10%;
  visibility: inherit;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #008CBA;} /* Blue */

.construction {
  /*-- delet .construction css once site is ready--*/
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 15%;
}

.container {
  position: relative;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  height: 170px;
}

.container_top {
  background-color: #a6dcef;
  width: 100%;
  float: left;
  z-index: 9;
  position: relative;
}

.display {
  position: relative;
  margin: 0 auto 0 auto;
  width: 90%;
  height: auto;
  align-items: center;
  align-content: center;
}

.disclaimer {
  width: 100%;
  margin: 0
}

.dosha_table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.front_page_content {
  align-content: center;
  left: auto;
  right: auto;
}

.front_page_content1 {
  position: relative;
  background-color: #a6dcef;
  left: 20px;
  text-align: justify;
  width: 450px;
  display: inline-block;
}

front_page_image1 {
  position: relative;
  display: inline-block;
}

front_page_image2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 80px;
}

front_page_image3 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 80px;
}

.footer_bottom {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #a6dcef;
  bottom: 0;
}

.fix_top {
  position: relative;
  /*--!important--*/
  left: 0;
  top: 0;
  bottom: auto;
  width: 100%;
  z-index: 999;
}

.logo_top {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25%;
}

.main {
  /* Used in this example to enable scrolling */
  margin-top: 0;
  height: 1500px;
}

.main_mid_container {
  background-color: #a6dcef;
  width: 50%;
  height: 150px;
  position: relative;
}

.navbar_top {
  position: absolute;
  right: 0;
  height: 10px;
}

.navbar {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 25px
}

.table_header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
  text-align: center;
}

.top_top {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999
}

.tradmark {
  padding: 5px 0;
  color: #fff;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  /*---------------------  ID Style ---------------*/
